<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QuizWiz - Sign Up</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
  </head>
  <body>
    <!-- Flash Messages -->
  {% include '_flash_messages.html' %}

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand font-weight-bold" href="{{ url_for('main.home') }}">QuizWiz</a>
    </nav>

    <!-- Hero Section -->
    <section class="hero">
      <h1>Join QuizWiz Today!</h1>
      <p>
        Sign up to track your progress, compete with friends, and earn badges
        along the way!
      </p>
    </section>

    <!-- Registration Form -->
    <section class="register-form">
      <h2 class="text-center">Create an Account</h2>
      <p class="text-center">
        Already have an account? <a href="{{ url_for('main.sign_in') }}">Sign in here</a>.
      </p>
      <form id="signupForm" action="{{ url_for('main.register') }}" method="POST">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            name="username"
            placeholder="Username"
            required
          />
        </div>
        <div class="form-group">
          <input
            type="email"
            class="form-control"
            name="email"
            placeholder="Enter Email"
            required
          />
        </div>
        <div class="form-group">
          <input
            type="password"
            id="password"
            class="form-control"
            name="password"
            placeholder="Create Password"
            required
          />
        </div>
        <div class="form-group">
          <input
            type="password"
            id="confirmPassword"
            class="form-control"
            placeholder="Confirm Password"
            required
          />
        </div>
        <div class="alert alert-danger d-none" id="errorMsg">
          Passwords do not match!
        </div>
        <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
      </form>
    </section>

    <footer class="footer">
      <p>&copy; 2024 QuizWiz. All rights reserved.</p>
      <div class="social-icons">
        <a href="https://github.com/CorneliusNgure" target="_blank" aria-label="GitHub"
          ><i class="fab fa-github"></i><span>GitHub</span></a
        >
        <a href="https://x.com/Zeros__n__Ones" target="_blank" aria-label="Twitter"
          ><i class="fab fa-twitter"></i><span>Twitter</span></a
        >
        <a href="https://www.linkedin.com/in/cornelius-ngure-93581a216/" target="_blank" aria-label="LinkedIn"
          ><i class="fab fa-linkedin"></i><span>LinkedIn</span></a
        >
      </div>
    </footer>

    <script src="{{ url_for('static', filename='js/register.js') }}"></script>

    <!-- Bootstrap and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
